.cakebutton
{
    height: 300px;
    width: 400px;
    position: absolute;
    float: left;
}

.Home
{
    height: 300px;
    width: 792px;
    background: url(home.jpg);
    float: left;
    position: absolute;
}

.cupcakepage
{
    height: 300px;
    width: 792px;
    background: url(cup.png);
    float: left;
    position: absolute;
}

.cakepage
{
    height: 300px;
    width: 792px;
    background: url(cake.png);
    float: left;
    position: absolute;
}

.cupcakebutton
{
    height: 300px;
    width: 384px;
    position: absolute;
    float: left;
    margin-top: 0px;
    margin-left: 400px;
    
}

.Buy
{
    height: 35px;
    width: 115px; 
    font-family: sans-serif;
     color: white;
     position: absolute;
     float: left;
    padding-top: 2px;
    text-align: center;
    margin-top: 190px;
    margin-left: 490px;
    font-size: 25px;
    background-color:darkgoldenrod;
    
}

.Buy:hover 
{
height: 38px;
width: 140px; 
 font-size: 32px;  
 color: red;
    margin-top: 190px;
    margin-left: 480px;
}
 
.buynow2
{
    height: 35px;
    width: 115px;
   font-family: sans-serif;
     color: white;
     position: absolute;
     float: left;
    padding-top: 2px;
    text-align: center;
    font-size: 25px;
    background-color:darkgoldenrod;
    margin-top: 201px;
    margin-left: 162px;
    
}

.buynow2:hover 
{
height: 38px;
width: 140px; 
 font-size: 32px;  
 color: red;
    margin-top: 201px;
    margin-left: 152px;
}
 

#refresh_count
{
height: 50px;
    width: 100px;
    position: absolute;
    float: left;
    margin-top: 86px;
    margin-left: 364px;
    font-family: sans-serif;
    font-size: 35px;
    color: #64301d;
}

#percentage
{
height: 50px;
    width: 100px;
    position: absolute;
    float: left;
    margin-top: 86px;
    margin-left: 402px;
    font-family: sans-serif;
    font-size: 35px;
    color: #64301d;
}

#refresh_count2
{
height: 50px;
    width: 100px;
    position: absolute;
    float: left;
    margin-top: 102px;
    margin-left: 30px;
    font-family: sans-serif;
    font-size: 35px;
    color: #64301d;
}

#percentage2
{
height: 50px;
    width: 100px;
    position: absolute;
    float: left;
    margin-top: 102px;
    margin-left: 69px;
    font-family: sans-serif;
    font-size: 35px;
    color: #64301d;
}